body {
    background-color: #007dfb;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h1 {
    color: #2c3e50;
}

h2 {
    color: #34495e;
}

.container {
    background-color: white;
    margin: 20px;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
}

.container-profile {
    display: flex;
    align-items: center;
    gap: 20px;
    background-color: violet;
}

.container-profile img {
    width: 150px;
    border-radius: 10px;
    justify-content: space-between;
}

ul li {
    list-style-type: none;
}

ul {
    padding: 0;
}

@media (max-width: 600px) {
    .container-profile {
        flex-direction: column;
        text-align: center;
    }

}