body {
    background-color: #0080ff;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

header {
    text-align: center;
}

header.container {
    background-color: white;
    color: black;
}

section {
    margin-top: 10px;
    border-bottom: 8px solid rgb(0, 0, 122);
}

.container {
    background-color: white;
    margin: 20px;
    padding: 15px;
    border-radius: 10px;
}

.profile {
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: space-between;
}

a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

a:hover {
    color: gray;
}

.profile img {
    width: 150px;
    border-radius: 10px;
}

h1 {
    color: #000000;
}

h2 {
    color: #000000;
}

ul {
    padding: 0;
}

ul li {
    list-style-type: none;
}

@media (max-width: 600px) {
    .profile {
        flex-direction: column;
        text-align: center;
    }

}

footer {
    text-align: center;
    font-size: 14px;
    color: gray;
}